@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lcl-red: #ee4342;
    --lcl-blue: #0b7b87;
    --lcl-yellow: #FEC336;
    --lcl-pink: #f78f8f;
    --lcl-teal: #47b2aa;
    --lcl-light-yellow: #fed87f;
    --lcl-gray: #222222;
}

b {
    @apply font-bold;
}

.content {
    font-size: 1.25rem;
}

.content > p:not(:last-child) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.opacity-25, .opacity-50, .opacity-75, .opacity-100 {
    z-index: 5;
}

.lcl-red{
    color: var(--lcl-red);
}

.lcl-pink{
    color: var(--lcl-pink);
}

.lcl-yellow{
    color: var(--lcl-yellow);
}

.lcl-light-yellow{
    color: var(--lcl-light-yellow);
}

.lcl-blue{
    color: var(--lcl-blue);
}

.lcl-teal{
    color: var(--lcl-teal);
}

.lcl-bg-red{
    background-color: var(--lcl-red);
    color: #fff;
}

.lcl-bg-gray{
    background-color: var(--lcl-gray);
    color: #fff;
}

.lcl-bg-light-yellow{
    background-color: var(--lcl-light-yellow);
}

.lcl-grad-1{
    background: linear-gradient(var(--lcl-teal), var(--lcl-blue));
    color: #fff;
}

.lcl-grad-1-sideways{
    background: linear-gradient(to right, var(--lcl-teal), var(--lcl-blue));
    color: #fff;
}

.lcl-grad-2{
    background: linear-gradient(var(--lcl-blue), var(--lcl-red));
    color: #fff;
}

.lcl-grad-3{
    background: linear-gradient(var(--lcl-yellow), var(--lcl-red));
    color: #fff;
}

.lcl-grad-3-sideways{
    background: linear-gradient(to right, var(--lcl-yellow), var(--lcl-red));
    color: #fff;
}

.lcl-container{
    @apply px-4 mx-auto;
}

@media (min-width: 640px){
    .lcl-container{
        max-width: 640px;
    }
}

@media (min-width: 768px){
    .lcl-container{
        max-width: 768px;
    }
}

@media (min-width: 840px){
    .lcl-container{
        max-width: 800px;
    }
}

.lcl-bold-uppercase{
    @apply uppercase font-bold text-xs tracking-widest;
}

.lcl-rounded-rect{
    @apply rounded-lg;
    background-color: rgba(255,255,255,0.2);
}

.lcl-white-rect{
    background-color: rgba(255,255,255,0.4);
}

.lcl-faq{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

div.lcl-faq:first-of-type .lcl-faq-q{
    @apply rounded-t-lg;
}

div.lcl-faq:last-of-type{
    border-bottom: none;
}

div.lcl-faq:last-of-type .lcl-faq-q, div.lcl-faq:last-of-type .lcl-faq-a{
    @apply rounded-b-lg;
}

@media (max-width: 640px) {
    .lcl-navbar-menu{
        @apply fixed top-0 w-64 h-full bg-white flex-col justify-center text-xl;
        transition: right 0.2s ease;
        right: -100%;
    }

    .lcl-navbar-menu.selected{
        right: 0;
    }
}

@media (min-width: 400px){
    .inline-xs{
        display: inline;
    }
}

